@inherits UmbracoTemplatePage
@{
    var page = (Home)Model.Content;
    var site = page.AncestorOrSelf(1);
    var overview = site.FirstChild<GalleryOverview>();
    var items = ContentManager.GetGalleryItems(0, 1, 100).Items
       .GetRandom(Consts.GalleryConfig.ItemsOnFrontPage);
}

<div class="home-gallery-wrapper">
    <div class="container">
        <section class="home-gallery-container">
            <header class="title">
                <h2>@page.GalleryTitle</h2>
            </header>
            <section class="content">
                <div class="row no-gutters">
                    @foreach (var item in items)
                    {
                        <div class="col-sm-8 col-md-6">
                            @{Html.RenderPartial("~/Views/Partials/Gallery/GalleryListItem.cshtml", item);}
                        </div>
                    }
                </div>
            </section>
            <section class="read-more">
                <a href="@overview.Url" class="btn btn-default">@page.GalleryReadMore</a>
            </section>
        </section>
    </div>
</div>
