<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://boblox-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://boblox-001-site1.gtempurl.com:8172/msdeploy.axd?site=boblox-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>boblox-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\boblox-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5014.smarterasp.net;Initial Catalog=DB_A09658_Spadschyna;Persist Security Info=True;User ID=DB_A09658_Spadschyna_admin;Password=santa123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Logic.DAL.DataContext, Logic" MigrationConfiguration="Logic.Migrations.Configuration, Logic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <AfterAddIisSettingAndFileContentsToSourceManifest>
      AddCustomSkipRules
    </AfterAddIisSettingAndFileContentsToSourceManifest>
    <!--<OnBeforePackageUsingManifest>CreateEmptyFolders</OnBeforePackageUsingManifest>-->
    <!--<ExcludeFoldersFromDeployment>App_Data</ExcludeFoldersFromDeployment>-->
  </PropertyGroup>

  <!--<PropertyGroup>
    <UseMsDeployExe>True</UseMsDeployExe>
  </PropertyGroup>-->
  
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=sql5014.smarterasp.net;Initial Catalog=DB_A09658_Spadschyna;Persist Security Info=True;User ID=DB_A09658_Spadschyna_admin;Password=santa123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>

  <!--<Target Name="CreateEmptyFolders">
    <Message Text="Adding empty folders to Files" />
    <MakeDir Directories="App_Data" />
  </Target>-->

  <Target Name="AddCustomSkipRules">
    <Message Text="Adding Custom Skip Rules" />
    <ItemGroup>

      <!--<MsDeploySkipRules Include="SkipFilesInFilesFolder">
        --><!--<SkipAction>Delete</SkipAction>--><!--
        <ObjectName>filePath</ObjectName>
        <AbsolutePath>$(DeployIisAppPath)\\Media\\*.*</AbsolutePath>
        <Apply>Destination</Apply>
      </MsDeploySkipRules>-->

      <MsDeploySkipRules Include="SkipFoldersInFilesFolders">
        <!--<SkipAction></SkipAction>-->
        <ObjectName>dirPath</ObjectName>
        <!--<AbsolutePath>$(DeployIisAppPath)\\Media\\.*\\*</AbsolutePath>-->
        <AbsolutePath>$(DeployIisAppPath)\\Media\\*\\</AbsolutePath>
        <Apply>Destination</Apply>
      </MsDeploySkipRules>

      <!--<MsDeploySkipRules Include="SkipAppData">
        <SkipAction></SkipAction>
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>App_Data</AbsolutePath>
        <Apply>Destination</Apply>
      </MsDeploySkipRules>-->
    </ItemGroup>
  </Target>
</Project>