@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=latin,cyrillic);

/*@font-face {
    font-family: 'Osnova Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OSNOVAPRO.OTF') format('opentype');
}

@font-face {
    font-family: 'Osnova Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OSNOVAPRO-BOLD.OTF') format('opentype');
}*/
