/*!Globals - styling for JS plugins and global things which don't directly
   belong to site design*/
@import (reference) "Bootstrap/mixins.less";
@import (reference) "Bootstrap/variables.less";
/*@import (reference) "Bootstrap/labels.less";*/
@import (reference) "variables.less";
@import (reference) "mixins.less";

/*Buttons**********************************************************/
.btn {
    .transition(all 0.4s);
    border-radius: 0;

    &.btn-default {
        color: white;
        background-color: @orange-color;
        border-color: @orange-color;

        &:focus, &:hover, &:active,
        &:focus, &.hover, &.active {
            color: white;
            background-color: @orange-color-2;
            border-color: @orange-color-2;
        }
    }
    //"primary" - class for Umbraco Forms buttons
    &.btn-primary, &.primary {
        color: white;
        background-color: @orange-color-3;
        border-color: @orange-color-3;

        &:focus, &:hover, &:active,
        &:focus, &.hover, &.active {
            color: white;
            background-color: @orange-color-2;
            border-color: @orange-color-2;
        }
    }
}

/*Headers************************************************************/
.header-coloured {
    color: white;
    padding: 5px 20px 5px 20px;

    &.with-margin {
        margin-bottom: 20px;
    }

    h3 {
        font-size: @font-size-h3-alternate;
        margin-top: (@line-height-computed / 2);
    }

    span.glyphicon {
        vertical-align: top;
    }

    &.orange {
        background-color: @orange-color;
    }

    &.orange-light {
        background-color: @orange-color-2;
    }

    &.ochre {
        background-color: @category-camps-color;
    }

    &.yellow {
        background-color: @category-other-color;
    }
}

.header-coloured-link {
    &:focus, &:hover {
        text-decoration: none;
        outline: none;
    }
}

/*Form-controls*****************************************************/

/*Contour forms*/
.contour, #contour {
    padding: 0 !important;

    .contourPage {
        .contourField {
            margin-bottom: 25px;
        }

        input, textarea {
            &.contourError, &.input-validation-error {
                background: white;
                border: 1px solid @orange-color;
            }
        }

        input.text, input.title, input.datepickerfield, textarea, select {
            border: 1px solid @orange-color;
            padding: 5px;
            margin: 0.5em 0;
            .form-control-focus(@orange-color-2);
        }

        .contourIndicator {
            color: @orange-color;
        }

        #recaptcha_widget_div {
            margin-left: 0;
        }
    }
}

/*Default form validation*/
.field-validation-error {
    color: @state-danger-text;
    display: inline-block;

    @media(min-width:@screen-sm-min) {
        margin-left: 10px;
    }
}

textarea, input {
    &.input-validation-error {
        border-color: @state-danger-border;
    }
}

/*Owl Carousel *******************************************************/

//Carousel with paging dots
.pagination-carousel {
    .owl-carousel.owl-theme {
        .owl-pagination .owl-page {
            & span {
                background-color: @orange-color-2;
            }

            &.active span,
            &:hover span {
                background-color: @orange-color;
            }
        }

        .owl-item {
            img {
                margin: 0 auto;
                max-height: 700px;
            }
        }
    }
}
//Carousel with paging dots. "Carousel" grid editor (and also macro)
.pagination-carousel.carousel-widget {
    margin-bottom: 20px;

    .owl-carousel.owl-theme {
        .owl-item {
            img {
                padding: 1px; /*fix for intersection of neighbor images!*/
            }
        }
    }
}

//Carousel with preview. "Gallery" grid editor
.gallery-widget {
    margin-bottom: 20px;
    // Used in gallery. Slide part
    & .slide {
        .owl-carousel {
            border: 6px solid @orange-color-2;

            .owl-item {
                height: 700px;

                img {
                    margin: 0 auto;
                    max-height: 100%;
                    padding: 1px; /*fix for intersection of neighbor images!*/
                }
            }
        }
    }
    //Carousel with preview. Used in gallery. Preview-list part
    & .preview-list {
        position: relative;

        .owl-carousel-prev, .owl-carousel-next {
            width: 35px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 10;
            cursor: pointer;
            background-color: white;
            opacity: 0.5;
            .transition(all 0.4s);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 0.8;
            }

            span {
                color: @orange-color-2;
            }
        }

        .owl-carousel-prev {
            left: 0;
        }

        .owl-carousel-next {
            right: 0;
        }

        .owl-carousel {
            margin-top: 10px;

            .owl-wrapper-outer {
                .owl-item {
                    height: 150px;
                    background-color: @black-color;
                    border: solid @orange-color-2;
                    border-width: 6px 3px;
                    overflow: hidden;
                    cursor: pointer;

                    &.selected {
                        border-color: @light-blue-color;
                    }

                    img {
                        height: auto;
                        width: auto;
                        max-width: none;
                        max-height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/*Magnific PopUp******************************************************/

.mfp-container {
    @close-button-height: 44px;
    @share-button-width: 30px;

    .mfp-close {
        right: 0;
        background: transparent url('images/magnific-popup-close.png') no-repeat right center;
    }

    .mfp-figure {
        &:after {
            top: @close-button-height;
            right: @share-button-width;
        }

        ul.mfp-share-buttons {
            width: @share-button-width;
            padding: 0;
            padding-top: @close-button-height+10px;
            margin: 0;
            float: right;

            li {
                .social-icons(black);
                margin: 0 0 10px 6px;
            }
        }

        figure {
            overflow: hidden;

            img.mfp-img {
                padding-top: @close-button-height;
            }
        }

        .mfp-counter {
            right: @share-button-width;
        }
    }

    &.mfp-s-loading .mfp-custom-arrow {
        display: none;
    }

    .mfp-custom-arrow {
        position: absolute;
        z-index: 1000;
        top: 10%;
        width: 50%;
        height: 80%;
        opacity: 0;
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        .transition(opacity 0.2s);

        &:hover {
            opacity: 1;
        }

        div {
            background: url('images/magnific-popup-arrow.png') transparent no-repeat;
            height: 103px;
        }

        &.arrow-left {
            left: 0;
            padding-left: 35px;

            div {
                background-position: right center; /*right because of scaleX*/
                .scaleX(-1);
            }
        }

        &.arrow-right {
            right: 0;
            padding-right: 35px;
            margin-right: @share-button-width;

            div {
                background-position: right center;
            }
        }
    }
}

/*Loading spinner for images*********************/
.mfp-preloader {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 100%;
    .animation(scaleout 1.0s infinite ease-in-out);
}

@-webkit-keyframes scaleout {
    0% {
        .scale(0.0);
    }

    100% {
        .scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        .scale(0.0);
    }

    100% {
        .scale(1.0);
        opacity: 0;
    }
}

/*Animation at open*************************/

/* overlay at start */
.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        .transition(all 0.3s ease-out);

        &.mfp-ready {
            /* overlay animate in */
            opacity: 0.8;
        }

        &.mfp-removing {
            /* overlay animate out */
            opacity: 0;
        }
    }

    &.mfp-wrap {
        & .mfp-content {
            /* content at start */
            opacity: 0;
            .transition(all 0.3s ease-out);
        }

        &.mfp-ready .mfp-content {
            /* content animate it */
            opacity: 1;
        }

        &.mfp-removing .mfp-content {
            /* content animate out */
            opacity: 0;
        }
    }
}

/*Animation when switching images*************/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mfp-figure {
    .animation-name(fadeIn);
    .animation-duration(.7s);
    .animation-timing-function(ease-in-out);
    .animation-fill-mode(both);
    .backface-visibility(hidden);
}
