/*!Main.css*/

@import (reference) "Bootstrap/mixins.less";
@import (reference) "Bootstrap/variables.less";
@import (reference) "Bootstrap/glyphicons.less";
@import (reference) "variables.less";
@import (reference) "mixins.less";
@import (reference) "globals.less";

/*Basic styles*********************************************************************/

html {
    height: 100%;
}

body {
    /*letter-spacing: 1px;*/
    position: relative;
    min-height: 100%;
}

ul, ol {
    padding-left: @list-default-padding;
}

/*Scroll to top****************************************************/
#scroll-to-top {
    z-index: 10;
    position: fixed;
    bottom: 17%;
    right: 20%;
    display: none;
    border-bottom: 37px solid;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-image: url('images/scroll-to-top.png') 0 50% 100% 50%;

    &:focus {
        outline: none;
    }

    &:hover {
        &:before {
            border-bottom-color: rgba(255, 255, 255, 0);
        }
    }

    &:before {
        top: 0px;
        left: -30px;
        position: absolute;
        content: "";
        border-bottom: 37px solid rgba(255, 255, 255, 0.2);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        .transition(border-color .4s);
    }
}

/*Loading spinner****************************************************/
#loading-spinner {
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 30%;
    width: 64px;
    height: 64px;
    background: url('images/loading-spinner.gif');
}

/*Loading overlay****************************************************/
#loading-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: "";
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.header-wrapper {
}

/*Navigation********************************************************/
.navbar {
    border: 0;

    .navbar-toggle {
        margin-left: 8px;
    }

    #navigation.navbar-collapse {
        font-weight: @headings-font-weight;
        font-size: 1em;

        .navbar-nav {
            > li {
                a {
                    padding: (@navbar-height - @line-height-computed)/2 20px;
                    .transition(all 0.4s);
                }
                //Multi-level menu
                &.dropdown {
                    @media(min-width:@screen-sm-min) {
                        &:hover > ul.dropdown-menu {
                            display: block;
                        }
                    }

                    @media(max-width:@screen-xs-max) {
                        & > ul.dropdown-menu {
                            display: block;
                            float: none;
                            position: relative;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

/*Header short info*************************************************/
.header-short-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width:@screen-xs-max) {
        flex-wrap: wrap;
    }

    .main-logo {
        display: block;
        padding-top: 14px;
        padding-bottom: 11px;
        padding-right: 15px;
    }

    .join-organization-container {
        margin: 20px 40px 20px 15px;

        @media(max-width:@screen-md-max) {
            margin-right: 0;
        }

        @media(max-width:@screen-xs-max) {
            margin-left: 10px;
        }
    }

    .spadshchyna-description {
        font-size: @font-size-small;

        @media(min-width:@screen-md-min) {
            margin-left: 10px;
            margin-right: 10px;
        }

        @media(min-width:@screen-lg-min) {
            margin-left: 35px;
            margin-right: 35px;
        }
    }
}

/*Social************************************************************/
.header-contacts {
    .social-icons(@orange-color-2);

    @media(min-width:@screen-lg-min) {
        margin-right: 10px;
    }

    ul.contacts {
        li {
            a {
                height: @navbar-height;
                display: flex;
                align-items: center;
                padding: 0 10px;
            }
        }
    }
}

/*Search-Form*******************************************************/
.search-form {
    margin: 0 10px 0 5px;
    height: @navbar-height;
    display: flex;
    align-items: center;
    .transition(all 0.4s);

    .input-group {
        .form-control.input-xs {
            height: 24px;
            padding: 2px 5px;
            font-size: @font-size-small;
            /*line-height: 1.5;*/
            width: 100%;

            @media(min-width:@screen-sm-min) {
                width: 134px;
                /*height: 24px;*/
            }

            @media(min-width:@screen-md-min) {
                width: 174px;
            }
        }

        .btn {
            font-size: @font-size-large;
            padding-left: 12px;
            padding-right: 12px;
            line-height: 0.95;
        }
    }

    @media(min-width:@screen-lg-min) {
        margin-left: 10px;
        margin-right: 27px;
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FEATURED ARTICLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Featured articles carousel****************************************/
.featured-articles-wrapper {
}

.pagination-carousel.featured-articles {
    border: solid @gray-lighter;
    border-width: 1px 1px 0 1px;

    .owl-carousel.owl-theme {
        .owl-controls {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px 30px 0 0;
        }

        .featured-article-info {
            position: absolute;
            right: 0;
            bottom: 0;
            color: @gray-dark;
            opacity: 1;
            min-height: 80px;
            padding: 5px 20px 15px 20px;
            z-index: 1;
            max-width: 370px;

            & span {
                font-size: @font-size-small;
            }

            &:after {
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.75;
                content: '';
                z-index: -1;
                .transition(all 0.4s);
            }

            &:hover:after {
                opacity: 0.9;
            }
        }
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Footer wrapper*****************************************************/
.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; /*To overflow main content sometimes*/
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: @blue-color;
    color: @light-gray-color;
    padding: 22px 18px 17px 18px;

    .main-logo {
        display: block;
    }

    .footer-nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                float: left;

                &.active a {
                    text-decoration: underline;
                }

                a {
                    display: block;
                    color: @light-gray-color;
                    padding: 5px 20px;
                    .transition(all 0.4s);
                }
            }
            //Multi-level menu
            .dropdown-menu {
                display: none;
            }
        }
    }

    .footer-contacts {
        margin: 0 20px 0 20px;
        .social-icons(@light-blue-color);

        ul.contacts {
            li {
                a {
                    height: @navbar-height - 10px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                }
            }
        }
    }
}

/*Contact Form*******************************************************/
.contact-form-container {
    .contact-form {
        max-width: 265px;

        & > .form-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            /*button send*/
            &:last-child {
                justify-content: flex-start;
            }
        }

        .btn-send-form {
            margin-right: 10px;
            width: auto;
        }

        .field-validation-error {
            margin-left: 3px;
            font-size: @font-size-small;
        }

        textarea {
            resize: vertical;
            height: auto;
        }

        input, textarea {
            width: 95%;
        }
    }

    @media(max-width:@screen-xs-max) {
        flex-basis: 100%;

        .contact-form {
            width: auto;
            //button send
            & > .form-group:last-child {
                justify-content: unset;
            }

            .btn-send-form {
                margin-right: unset;
                width: 95%;
            }
        }
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-wrapper {
    padding-bottom: 147px;

    @media(min-width:@screen-sm-min) {
        padding-bottom: 147px;
    }
}

/*News Overview*****************************************************/
.news-left-sidebar {
    @media(min-width:@screen-md-min) {
        margin-left: 18px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;

            a {
                display: inline-block;
                .transition(all .2s);

                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }

        &.news-years {
            margin-top: 29px;

            li {
                margin-bottom: 9px;

                a {
                    padding: 0px 13px;
                    color: @light-blue-color;
                    font-size: @font-size-large;
                    background-color: white;

                    &.active, &:hover {
                        color: white;
                        background-color: @light-blue-color;
                    }
                }
            }
        }

        &.news-categories {
            margin-top: 29px;

            li a {
                font-size: @font-size-large;
                padding: 5px 16px 5px 0px;

                span {
                    line-height: 1;
                    padding-left: 11px;
                    display: inline-block;
                }
            }
        }
    }
}

.news-list {
    margin-top: 30px;

    .left-sidebar-defined & {
        /*be a little bit closer to the menu*/
        margin-left: -10px;
    }
}

.news-item {
    margin-bottom: 25px;

    .news-item-title {
        a {
            display: inline-block;
        }

        h3, h4 {
            font-weight: normal;
        }
    }

    .news-item-image {
        margin: @news-item-sub-margin 0 @news-item-sub-margin;
        display: block;

        img {
            .img-responsive();
            max-height: 600px;
            border: 4px solid @orange-color-3;
        }
    }

    .news-item-info {
        margin: @news-item-sub-margin 5px @news-item-sub-margin;
    }

    .news-item-tags {
        margin: @news-item-sub-margin 5px @news-item-sub-margin;
    }

    .news-item-byline {
        /*letter-spacing: 0;*/
        margin: @news-item-sub-margin 5px;
    }

    .news-item-button {
        max-width: 120px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    hr {
        margin: 24px 0 0 0;
    }
}

/*News-categories links******************************************/
.category-0 {
    .news-category-color(@category-all-color);
}

.category-1 {
    .news-category-color(@category-announce-color);
}

.category-21 {
    .news-category-color(@category-events-color);
}

.category-22 {
    .news-category-color(@category-camps-color);
}

.category-23 {
    .news-category-color(@category-other-color);
}

/*News pager******************************************************/
ul.news-pager {
    display: inline-flex;
    list-style: none;
    padding: 0;

    > li {
        color: @orange-color;
        font-size: @font-size-large;

        a {
            color: @orange-color;
            padding: 0 5px 0 5px;
            display: block;

            & span {
                font-size: @font-size-base;
            }

            &.active {
                text-decoration: underline;
                cursor: default;
                pointer-events: none;
                font-weight: bold;
            }
        }
    }
}

/*News item info****************************************************/
ul.news-item-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: @orange-color-3;
    /*font-size: @font-size-small;*/
    li {
        margin-right: 20px;
        display: inline-block;
        line-height: 1;

        &:last-child {
            margin-right: 0;
        }

        span:first-child {
            margin-right: 6px;
        }

        span {
            display: inline-block;
            vertical-align: top;
        }

        a {
            &:not(.news-link) {
                color: @orange-color-3;
            }

            &.news-link:hover {
                text-decoration: none;
            }
        }
    }
}

/*News item tags****************************************************/
.news-item-tags {
    display: flex;
    line-height: 1;

    a {
        margin-right: 5px;
        display: inline-block;
        color: @light-blue-color;
        font-size: @font-size-small;
    }
}

/*Gallery Overview*****************************************************/
.gallery-left-sidebar {
    @media(min-width:@screen-md-min) {
        margin-left: 18px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;

            a {
                display: inline-block;
                .transition(all .2s);

                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }

        &.gallery-years {
            margin-top: 29px;

            li {
                margin-bottom: 9px;

                a {
                    padding: 0px 13px;
                    color: @light-blue-color;
                    font-size: @font-size-large;
                    background-color: white;

                    &.active, &:hover {
                        color: white;
                        background-color: @light-blue-color;
                    }
                }
            }
        }
    }
}

.gallery-list {
    margin-top: 30px;

    .left-sidebar-defined & {
        /*be a little bit closer to the menu*/
        margin-left: -10px;
    }
}

.gallery-item {
    margin-bottom: 25px;

    .gallery-item-title {
        a {
            display: inline-block;
        }

        h3, h4 {
            font-weight: normal;
        }
    }

    .gallery-item-image {
        margin: @galery-item-sub-margin 0 @galery-item-sub-margin;
        display: block;

        img {
            .img-responsive();
            max-height: 600px;
            border: 4px solid @orange-color-3;
        }
    }

    .gallery-item-byline {
        margin: @galery-item-sub-margin 5px;
    }

    .gallery-item-button {
        max-width: 120px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    hr {
        margin: 24px 0 0 0;
    }
}

/*Gallery pager******************************************************/
ul.gallery-pager {
    display: inline-flex;
    list-style: none;
    padding: 0;

    > li {
        color: @orange-color;
        font-size: @font-size-large;

        a {
            color: @orange-color;
            padding: 0 5px 0 5px;
            display: block;

            & span {
                font-size: @font-size-base;
            }

            &.active {
                text-decoration: underline;
                cursor: default;
                pointer-events: none;
                font-weight: bold;
            }
        }
    }
}

/*Content pages*****************************************************/
.content-wrapper {
    @media(min-width:@screen-sm-min) {
        //no sidebars exists
        .no-sidebars-defined & {
            margin-left: @content-left-margin;
            margin-right: @content-right-margin;

            .header-coloured {
                margin-left: -@content-left-margin;
                margin-right: -@content-right-margin;
            }
        }

        .left-sidebar-defined & {
            /*be a little bit closer to the menu*/
            margin-left: -10px;
        }
        //right sidebar doesn't exist
        .left-sidebar-defined:not(.right-sidebar-defined) & {
            margin-right: @content-right-margin;

            .header-coloured {
                margin-right: -@content-right-margin;
            }
        }
        //left sidebar doesn't exist
        .right-sidebar-defined:not(.left-sidebar-defined) & {
            margin-right: @content-right-margin;

            .header-coloured {
                margin-right: -@content-right-margin;
            }
        }
    }

    .content-title {
        font-weight: normal;
        margin-top: 31px;
        margin-bottom: 25px;

        h2 {
            font-weight: normal;
            font-size: @font-size-h2-alternate;
        }
    }

    .news-item-info {
        margin: @news-item-sub-margin 0px @news-item-sub-margin;
        max-width: 700px;
    }

    .news-item-tags {
        margin: @news-item-sub-margin 0px @news-item-sub-margin;
    }

    .grid-content {
        font-size: 1em;
        margin-top: 30px;

        img {
            .img-responsive();
        }

        iframe {
            max-width: 100%;
        }
    }
}

/*Related news*****************************************************/
.related-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    .related-news-item {
        margin-bottom: 20px;

        span {
            display: block;
            font-weight: bold;
        }

        a {
            display: block;
            margin-top: 10px;
            font-size: @font-size-large;
            color: @orange-color-2;
        }

        img {
            border: 4px solid @orange-color-3;
            max-height: 300px;
            max-width: 200px;
        }
    }
}

/*Disqus************************************************************/
.disqus-wrapper {
    margin-top: 30px;
}

/*Events-calendar***************************************************/
.events-calendar {
    background-color: @ochre-color;
    min-height: 200px;
}
