/*!Main.css*/
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/*Basic styles*********************************************************************/
html {
  height: 100%;
}
body {
  letter-spacing: 1px;
  position: relative;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  letter-spacing: 1px;
}
/*Main-logo********************************************************/
.main-logo {
  display: inline-block;
  vertical-align: top;
}
/*Scroll to top****************************************************/
.scroll-to-top {
  width: 57px;
  height: 57px;
  z-index: 10;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background: url('images/scroll-to-top.png') no-repeat;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border-radius: 50%;
}
.scroll-to-top:focus {
  outline: none;
}
.scroll-to-top:hover {
  background-color: #ffffff;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Navigation********************************************************/
.navbar {
  border: 0;
}
.navbar .navbar-toggle {
  margin-left: 8px;
}
.navbar #navigation.navbar-collapse {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  letter-spacing: 1px;
  font-size: 1em;
  /*@media(min-width:@screen-sm) {
                li.dropdown:hover > ul.dropdown-menu {
                    display: block;
                }
        }*/
}
.navbar #navigation.navbar-collapse .navbar-nav > li a {
  padding: 15px 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/*Header short info*************************************************/
.header-short-info {
  height: 104px;
}
.header-short-info .join-organization-container {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header-short-info .spadshchyna-description {
  font-size: 0.857em;
  overflow: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-right: 25px;
}
@media (min-width: 992px) {
  .header-short-info .spadshchyna-description {
    padding-left: 25px;
  }
}
@media (min-width: 1200px) {
  .header-short-info .spadshchyna-description {
    padding-left: 50px;
  }
}
/*Social************************************************************/
.header-contacts {
  height: 50px;
  overflow: auto;
}
.header-contacts ul.contacts {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-contacts ul.contacts li {
  float: left;
  vertical-align: middle;
}
.header-contacts ul.contacts li a {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header-contacts ul.contacts li a.vkontakte {
  display: block;
  background-image: url('images/icons-contact.png');
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-position: 0 0;
  opacity: 1;
}
.header-contacts ul.contacts li a.vkontakte:hover {
  background-color: #ff9149;
}
.header-contacts ul.contacts li a.facebook {
  display: block;
  background-image: url('images/icons-contact.png');
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-position: -22px 0;
  opacity: 1;
}
.header-contacts ul.contacts li a.facebook:hover {
  background-color: #ff9149;
}
.header-contacts ul.contacts {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: inline-block;
}
.header-contacts ul.contacts li {
  margin: 10px;
}
/*Search-Form*******************************************************/
.search-form {
  margin-left: 10px;
  margin-right: 10px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FEATURED ARTICLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Featured articles carousel****************************************/
.featured-articles-wrapper .owl-carousel.owl-theme .owl-controls {
  position: absolute;
  top: 0;
  right: 0;
}
.featured-articles-wrapper .owl-carousel.owl-theme .featured-article-info {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #333333;
  opacity: 1;
  min-height: 80px;
  padding: 5px 20px 15px 20px;
  z-index: 1;
}
.featured-articles-wrapper .owl-carousel.owl-theme .featured-article-info:after {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  content: '';
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.featured-articles-wrapper .owl-carousel.owl-theme .featured-article-info:hover:after {
  opacity: 0.8;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Footer wrapper*****************************************************/
.footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /*To overflow main content sometimes*/
}
.footer-wrapper .footer-inner {
  overflow: hidden;
  background-color: #027cd9;
  color: #f2f2f2;
  padding: 0 20px 20px 20px;
}
.footer-nav-contacts-container {
  overflow: auto;
}
.footer-nav-contacts-container .footer-nav {
  overflow: auto;
  margin-top: 25px;
}
.footer-nav-contacts-container .footer-nav ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav-contacts-container .footer-nav ul > li {
  float: left;
}
.footer-nav-contacts-container .footer-nav ul > li a {
  display: block;
  color: #f2f2f2;
  padding: 15px 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-nav-contacts-container .footer-contacts {
  overflow: hidden;
}
.footer-nav-contacts-container .footer-contacts ul.contacts {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li {
  float: left;
  vertical-align: middle;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li a {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li a.vkontakte {
  display: block;
  background-image: url('images/icons-contact.png');
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-position: 0 0;
  opacity: 1;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li a.vkontakte:hover {
  background-color: #44adfd;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li a.facebook {
  display: block;
  background-image: url('images/icons-contact.png');
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-position: -22px 0;
  opacity: 1;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li a.facebook:hover {
  background-color: #44adfd;
}
.footer-nav-contacts-container .footer-contacts ul.contacts {
  vertical-align: top;
  display: inline-block;
}
.footer-nav-contacts-container .footer-contacts ul.contacts li {
  margin: 10px;
}
/*Contact Form*******************************************************/
.contact-form {
  width: 190px;
  margin-top: 40px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main-wrapper {
  padding-bottom: 410px;
}
/*News Overview*****************************************************/
.news-left-sidebar ul {
  /*display: inline-block;
        vertical-align: top;*/
  list-style: none;
  margin: 0;
  padding: 0;
}
.news-left-sidebar ul li {
  display: block;
}
.news-left-sidebar ul li a {
  display: inline-block;
}
.news-left-sidebar ul li a:hover,
.news-left-sidebar ul li a:focus {
  text-decoration: none;
}
.news-left-sidebar ul.news-years {
  margin-top: 15px;
}
.news-left-sidebar ul.news-years li a {
  padding: 6px 20px 6px 13px;
  color: #35a7fe;
  background-color: white;
}
.news-left-sidebar ul.news-years li a.active,
.news-left-sidebar ul.news-years li a:hover {
  color: white;
  background-color: #35a7fe;
}
.news-left-sidebar ul.news-categories {
  margin-top: 15px;
}
.news-left-sidebar ul.news-categories li a {
  font-size: 18px;
  padding: 10px 13px;
}
.news-left-sidebar ul.news-categories li a.category-0 {
  color: #e25900;
  background-color: white;
}
.news-left-sidebar ul.news-categories li a.category-0.active,
.news-left-sidebar ul.news-categories li a.category-0:hover {
  color: white;
  background-color: #e25900;
}
.news-left-sidebar ul.news-categories li a.category-21 {
  color: #fe8435;
  background-color: white;
}
.news-left-sidebar ul.news-categories li a.category-21.active,
.news-left-sidebar ul.news-categories li a.category-21:hover {
  color: white;
  background-color: #fe8435;
}
.news-left-sidebar ul.news-categories li a.category-22 {
  color: #ef9f05;
  background-color: white;
}
.news-left-sidebar ul.news-categories li a.category-22.active,
.news-left-sidebar ul.news-categories li a.category-22:hover {
  color: white;
  background-color: #ef9f05;
}
.news-left-sidebar ul.news-categories li a.category-23 {
  color: #efb005;
  background-color: white;
}
.news-left-sidebar ul.news-categories li a.category-23.active,
.news-left-sidebar ul.news-categories li a.category-23:hover {
  color: white;
  background-color: #efb005;
}
.news-item {
  display: block;
  padding: 10px 5px 20px 5px;
  text-align: center;
}
.news-item:hover {
  background-color: #d7d7d7;
}
.news-item .news-item-title {
  margin: 15px 5px 0 5px;
  font-size: 1.28em;
}
.news-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
/*Content pages*****************************************************/
.content-wrapper {
  /*border-top: 1px solid @gray-color;*/
}
.content-wrapper header {
  text-align: center;
}
.content-wrapper .text-content {
  margin-top: 25px;
  font-size: 1em;
}
.content-wrapper .text-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
.content-wrapper .text-content iframe {
  max-width: 100%;
}
/*Disqus************************************************************/
.disqus-wrapper {
  margin-top: 50px;
}
/*Events-calendar***************************************************/
.events-calendar {
  background-color: #ecca29;
  min-height: 200px;
}