/*!Main.css*/

@import (reference) "Bootstrap/mixins.less";
@import (reference) "Bootstrap/variables.less";
@import (reference) "Bootstrap/glyphicons.less";
@import (reference) "variables.less";
@import (reference) "mixins.less";
@import (reference) "globals.less";

/*Basic styles*********************************************************************/

html {
    height: 100%;
}

body {
    letter-spacing: 1px;
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    .header-font;
}

/*Main-logo********************************************************/
.main-logo {
    display: inline-block;
    vertical-align: top;
}

/*Scroll to top****************************************************/
.scroll-to-top {
    width: 57px;
    height: 57px;
    z-index: 10;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background: url('images/scroll-to-top.png') no-repeat;
    background-color: rgba(255, 255, 255, 0.65);
    .transition(background-color 0.4s);
    border-radius: 50%;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.header-wrapper {
}

/*Navigation********************************************************/
.navbar {
    border: 0;

    .navbar-toggle {
        margin-left: 8px;
    }

    #navigation.navbar-collapse {
        .header-font;
        font-size: 1em;

        .navbar-nav {
            > li {
                a {
                    padding: 15px 20px;
                    .transition(all 0.4s);
                }
                //Multi-level menu
                &.dropdown {
                    @media(min-width:@screen-sm-min) {
                        &:hover > ul.dropdown-menu {
                            display: block;
                        }
                    }

                    @media(max-width:@screen-xs-max) {
                        & > ul.dropdown-menu {
                            display: block;
                            float: none;
                            position: relative;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

/*Header short info*************************************************/
.header-short-info {
    height: @logo-height;

    .join-organization-container {
        .vertical-align-middle();
    }

    .spadshchyna-description {
        font-size: 0.857em;
        overflow: auto;
        .vertical-align-middle();

        @media(min-width:@screen-md-min) {
            padding-left: 25px;
        }

        @media(min-width:@screen-lg-min) {
            padding-left: 50px;
        }

        padding-right: 25px;
    }
}

/*Social************************************************************/
.header-contacts {
    height: @navbar-height;
    .social-icons(@orange-color);

    ul.contacts {
        .vertical-align-middle();
        display: inline-block;

        li {
            margin: 10px;
        }
    }
}

/*Search-Form*******************************************************/
.search-form {
    margin-left: 10px;
    margin-right: 10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FEATURED ARTICLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Featured articles carousel****************************************/
.featured-articles-wrapper {
    .owl-carousel.owl-theme {
        .owl-controls {
            position: absolute;
            top: 0;
            right: 0;
        }

        .featured-article-info {
            position: absolute;
            right: 0;
            bottom: 0;
            color: @gray-dark;
            opacity: 1;
            min-height: 80px;
            padding: 5px 20px 15px 20px;
            z-index: 1;

            &:after {
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                content: '';
                z-index: -1;
                .transition(all 0.4s);
            }

            &:hover:after {
                opacity: 0.8;
            }
        }
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Footer wrapper*****************************************************/
.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; /*To overflow main content sometimes*/
    .footer-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: @blue-color;
        color: @white-color;
        padding: 0 20px 15px 20px;
    }
}

.footer-nav-contacts-container {
    flex-grow: 1;
    overflow: auto;

    .footer-nav {
        margin-top: 25px;
        margin-right: 55px;

        ul {
            display: inline-block;
            vertical-align: top;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                float: left;

                &.active a {
                    text-decoration: underline;
                }

                a {
                    display: block;
                    color: @white-color;
                    padding: 15px 20px;
                    .transition(all 0.4s);
                }
            }
            //Multi-level menu
            .dropdown-menu {
                display: none;
            }
        }
    }

    .footer-contacts {
        overflow: hidden;
        margin-right: 65px;
        .social-icons(@blue-color);

        ul.contacts {
            vertical-align: top;
            display: inline-block;

            li {
                margin: 10px;
            }
        }
    }
}

/*Contact Form*******************************************************/
.contact-form-container {
    .contact-form {
        width: 190px;
        margin-top: 40px;

        & > .form-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            /*button send*/
            &:last-child {
                justify-content: flex-end;
            }
        }

        .btn-send-form {
            margin-right: 10px;
            width: auto;
        }

        .field-validation-error {
            margin-left: 3px;
            font-size: @font-size-small;
        }

        textarea {
            resize: vertical;
            height: auto;
        }

        input, textarea {
            width: 95%;
        }
    }

    @media(max-width:@screen-xs-max) {
        flex-basis: 100%;

        .contact-form {
            width: auto;
            /*button send*/
            & > .form-group:last-child {
                justify-content: unset;
            }

            .btn-send-form {
                margin-right: unset;
                width: 95%;
            }
        }
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!MAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-wrapper {
    padding-bottom: 150px;

    @media(min-width:@screen-sm-min) {
        padding-bottom: 162px;
    }
}

/*News Overview*****************************************************/
.news-left-sidebar {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;

            a {
                display: inline-block;

                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }

        &.news-years {
            margin-top: 21px;

            li a {
                padding: 8px 13px;
                color: @light-blue-color;
                font-size: @font-size-large;
                background-color: white;

                &.active, &:hover {
                    color: white;
                    background-color: @light-blue-color;
                }
            }
        }

        &.news-categories {
            margin-top: 10px;

            li a {
                font-size: @font-size-large;
                padding: 8px 13px;
            }
        }
    }
}

.news-list {
}

.news-item {
    .news-item-title {
        a {
            display: inline-block;
        }

        h3, h4 {
            font-weight: bold;
        }
    }

    .news-item-image {
        margin-top: 10px;
        display: block;
    }

    .news-item-byline {
        font-size: @font-size-large;
        font-family: @font-family-alternate;
        letter-spacing: 0;
        margin: 15px 5px;
    }

    .news-item-button {
        max-width: 120px;
    }

    img {
        .img-responsive();
        margin: 0 auto;
        border: 5px solid @orange-active-color;
    }

    hr {
        border-top-color: @orange-color;
        margin: 20px 0 10px 0;
    }
}

/*News-categories links******************************************/
.category-0 {
    .news-category-color(@orange-color);
}

.category-21 {
    .news-category-color(@orange-active-color);
}

.category-22 {
    .news-category-color(@category-camps-color);
}

.category-23 {
    .news-category-color(@category-other-color);
}

/*News pager******************************************************/
ul.news-pager {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0;

    > li {
        display: inline-block;
        color: @orange-color;
        font-size: @font-size-large;

        a {
            color: @orange-color;
            padding: 0 5px 0 5px;

            &.active {
                text-decoration: underline;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}

/*News item info****************************************************/
ul.news-item-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    color: @orange-active-color;
    font-size: @font-size-small;

    li {
        margin-right: 20px;
        display: inline-block;
        line-height: 14px;

        &:last-child {
            margin-right: 0;
        }

        span {
            display: inline-block;
            vertical-align: top;
        }

        a {
            &:not(.news-link) {
                color: @orange-active-color;
            }

            &.news-link:hover {
                text-decoration: none;
            }
        }
    }
}

/*News item tags****************************************************/
.news-item-tags {
    a {
        color: @orange-color;
        font-size: @font-size-small;
    }
}

/*Content pages*****************************************************/
.content-wrapper {
    /*border-top: 1px solid @gray-color;*/
    .content-title {
        h3, h4 {
            font-weight: bold;
        }
    }

    .text-content, .grid-content {
        font-size: 1em;
        margin-top: 25px;

        img {
            .img-responsive();
        }

        iframe {
            max-width: 100%;
        }
    }
}

/*Disqus************************************************************/
.disqus-wrapper {
    margin-top: 50px;
}

/*Events-calendar***************************************************/
.events-calendar {
    background-color: @ochre-color;
    min-height: 200px;
}
