/*!Mixins.css*/
@import (reference) "Bootstrap/variables.less";
@import (reference) "Bootstrap/mixins.less";
@import (reference) "variables.less";
/*@import (reference) "bootstrap-n-column.less";*/

.social-icon(@x, @width) {
    span {
        @height: 23px;
        display: block;
        background: url('images/icons-contact.png') no-repeat;
        width: @width;
        height: @height;
        background-position: @x 0;
    }
}

.social-icons(@background-color: black) {
    ul.contacts {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        li {
            a {
                .transition(all 0.4s);
                display: block;
                background-color: @background-color;
                /*&.rss {
                    .social-icon(0, 18px);
                }*/
                &.vk {
                    .social-icon(0, 23px);
                }

                &.facebook {
                    .social-icon(-23px, 12px);
                }

                &.instagram {
                    .social-icon(-36px, 19px);
                }
                /*&.donate {
                    .social-icon(-40px, 14px);
                }*/
            }
        }
    }
}

.calendar-icon {
    .news-icon(-1px, 15px);
}

.time-icon {
    .news-icon(-18px, 16px);
}

.location-icon {
    .news-icon(-36px, 16px);
}

.comments-icon {
    .news-icon(-54px, 17px);
}

.news-icon(@x, @width) {
    @height: 18px;
    display: inline-block;
    background-image: url('images/news-icons.png');
    width: @width;
    height: @height;
    background-position: @x 0;
    opacity: 1;
}

.vertical-align-middle {
    position: relative;
    top: 50%;
    .translate(0, -50%);
}

.no-gutters {
    &.row {
        margin-right: 0;
        margin-left: 0;

        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

/*Create custom 15 column layout for bootstrap*/
/*.col-set(15);*/
