/*!Variables*/

//basic
@icon-font-path: "../../fonts/";
@font-family-base: "Arimo", Helvetica, sans-serif;
@font-family-alternate: "Arimo", Helvetica, sans-serif;
@font-family-header: "Arimo", Arial;
@font-size-base: 14px;
@font-size-h3-alternate: ceil((@font-size-base * 1.57)); // ~22px
@font-size-h2-alternate: ceil((@font-size-base * 2)); // ~28px

@light-gray-color: #f2f2f2;
@black-color: #000000;
@orange-color: #e25900;
@orange-color-2: #fe8435;
@orange-color-3: #ff5a00;
@ochre-color: #ecca29;

@category-all-color: @orange-color;
@category-announce-color: @orange-color-3;
@category-events-color: #ff7200;
@category-camps-color: #ef9f05;
@category-other-color: #efb005;

@blue-color: #027cd9;
@light-blue-color: #35a7fe;

//global link colors
@link-color: @black-color;
@link-hover-color: @black-color;

@grid-columns: 24;

//navigation styles
@navbar-height: 45px;
@navbar-default-color: @light-gray-color;
@navbar-default-bg: @orange-color;

@navbar-padding-vertical: 0;
@navbar-padding-horizontal: 0;
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;

@navbar-default-link-color: @light-gray-color;
@navbar-default-link-hover-bg: @orange-color-2;
@navbar-default-link-hover-color: @navbar-default-color;
@navbar-default-link-active-bg: @orange-color-2;
@navbar-default-link-active-color: @navbar-default-color;
@navbar-default-toggle-hover-bg: @light-blue-color;
@navbar-default-toggle-icon-bar-bg: @orange-color-2;

//form-controls
@input-border: @orange-color;
@input-border-radius: 0;
@input-border-radius-small: 0;
@input-border-radius-large: 0;
@input-border-focus: @orange-color-2;
@input-color-placeholder: @orange-color;

//form-validation
@state-danger-text: @orange-color;
@state-danger-border: @orange-color;

//news
@news-item-sub-margin: 15px;

//gallery
@galery-item-sub-margin: 15px;