/*!Variables*/
@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/ProximaNova-Light.otf") format("opentype");
}
@font-face {
  font-family: "Hattori Hanzo";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/HattoriHanzo.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
}
/*@input-height-small: 20px;*/