/*!Variables*/

//fonts=============================
@icon-font-path: "../../fonts/";
/*@font-family-base: "PT Sans", "Osnova Pro", "Roboto", "Arimo", "Open Sans", sans-serif;*/
@font-family-base: "Fira Sans", "PT Sans", sans-serif;
@headings-font-family: @font-family-base;
@font-size-base: 14px;

@headings-font-weight: bold;

@font-size-h1: floor((@font-size-base * 4.29)); // 60px
@font-size-h2: ceil((@font-size-base * 2.5)); // 35px;
@font-size-h3: ceil((@font-size-base * 1.4285)); // 20px
@font-size-h4: ceil((@font-size-base * 1.285)); // 18px
@font-size-middle-large: ceil((@font-size-base * 1.1428)); // 16px
@font-size-extra-large: ceil((@font-size-base * 1.76)); // 25px

//padding
@list-default-padding: 40px;

//colors============================
@light-gray-color: #f2f2f2;
@black-color: #000000;
@white-color: #ffffff;

@orange-color-a: #f6ab32;
@orange-color-b: #ffb235; //#ffbd51;
@gray-color-1: #464646;
@gray-color-2: #555;
@gray-color-3: #888;
@gray-color-4: #c8c8c8;
@gray-color-5: #ededed;
@gray-color-6: #f9f9f9;

//font-color
@text-color: @gray-color-3;

//global link colors
@link-color: @orange-color-a;
@link-hover-color: @orange-color-a;

//hr-color
@hr-border: @orange-color-a;

//grid==============================
@grid-columns: 24;

//navigation styles=================
@navbar-height: 70px;
@navbar-default-color: @white-color;
@navbar-default-bg: @orange-color-a;

@navbar-padding-vertical: 0;
@navbar-padding-horizontal: 0;
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;

@navbar-default-link-color: @white-color;
@navbar-default-link-hover-bg: @orange-color-b;
@navbar-default-link-hover-color: @white-color;
@navbar-default-link-active-bg: @orange-color-b;
@navbar-default-link-active-color: @white-color;
@navbar-default-toggle-hover-bg: @orange-color-b;
@navbar-default-toggle-icon-bar-bg: @gray-color-5;
@navbar-default-toggle-border-color: @gray-color-5;

//Shared nav styles
//@nav-link-padding: 20px 5px;
@nav-link-hover-bg: transparent;

//Tabs

//Pills
@nav-pills-border-radius: 0;
@nav-pills-active-link-hover-bg: transparent;
@nav-pills-active-link-hover-color: @orange-color-a;

//form-controls====================
@input-border: @gray-color-4;
@input-border-radius: 0px;
@input-border-radius-small: 0px;
@input-border-radius-large: 0px;
@input-border-focus: @orange-color-b;
@input-color: @gray-color-3;
@input-color-placeholder: @orange-color-a;

//form-validation=====================
@state-danger-text: @orange-color-a;
@state-danger-border: @orange-color-a;

//news=========================
@news-item-sub-margin: 20px;

//footer
@footer-opacity: 0.7;
@footer-opacity-hover: 1;
