@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@{
    var carouselImagesStr = Model.Items.First().GetValue("Images");
    var imageIds = carouselImagesStr.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var carouselImages = Umbraco.Media(imageIds);
}

@if (Request.RawUrl.Contains("GetPartialViewResultAsHtmlForEditor"))
{
    /*Render differently in backoffice*/
    <span>Images gallery with @carouselImages.Count() images</span>
}
else
{
    var dict = new ViewDataDictionary { { "carouselImages", carouselImages } };
    Html.RenderPartial("/Views/Partials/Common/ImagesGallery.cshtml", dict);
}
