@inherits UmbracoTemplatePage<GalleryOverview>
@{
    Layout = "ContentBase.cshtml";
    var containerId = "gallery-list";
    var overlayId = "loading-overlay";
}

@section Body
{
    <section id="@containerId" class="gallery-overview-container"></section>
    <div id="@overlayId" class="loading-overlay"></div>

    <script type="text/javascript">
        $(function () {
            InitGalleryRouting(
                '@containerId',
                '@overlayId',
                @Consts.GalleryConfig.YearAllInt,
                @Consts.GalleryConfig.ItemsPerPageOnOverviewPage);
        });
    </script>
}