@inherits UmbracoTemplatePage<GalleryOverview>
@{
    Layout = "ContentBase.cshtml";
}

@section Body
{
    <article id="gallery-list" class="gallery-overview"></article>
    <div id="loading-overlay"></div>

    <script type="text/javascript">
        $(function () {
            InitGalleryRouting(@Consts.GalleryConfig.YearAllInt, @Consts.GalleryConfig.ItemsPerPageOnOverviewPage);
        });
    </script>
}