@inherits UmbracoTemplatePage<NewsItem>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
    //var newsOverviewTitle = Model.Content.Ancestor<NewsOverview>().Title;
    var title = item.GetTitle();
}

@section RightSidebar
{
    @{Html.RenderPartial("~/Views/Partials/Common/Calendar.cshtml");}
}

@section Body
{
    <article class="news-item-container">
        <header class="title">
            <h3>@title</h3>
            @{ Html.RenderPartial("/Views/Partials/News/NewsItemInfo.cshtml", item);}
            @{ Html.RenderPartial("/Views/Partials/News/NewsItemTags.cshtml", item);}
        </header>
        <section class="grid-content">
            @Html.GetGridHtml(item, NewsItem.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </section>
        @{Html.RenderPartial("~/Views/Partials/Common/Comments.cshtml");}
    </article>
}