@inherits UmbracoTemplatePage<NewsItem>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
    //var overviewTitle = item.Ancestor<NewsOverview>().Title;
    var title = item.GetTitle();
}

@section RightSidebar
{
    <div class="standart-right-sidebar">
        @{Html.RenderPartial("~/Views/Partials/Common/Calendar.cshtml");}
        @{Html.RenderPartial("~/Views/Partials/Common/LatestNews.cshtml");}
    </div>
}

@section Body
{
    <article class="news-item-container">
        <header class="title">
            <h4>@title</h4>
            @{ Html.RenderPartial("/Views/Partials/News/NewsItemInfo.cshtml", item);}
            @{ Html.RenderPartial("/Views/Partials/News/NewsItemTags.cshtml", item);}
        </header>
        <div class="grid-content">
            @Html.GetGridHtml(item, NewsItem.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </div>
        @{Html.RenderPartial("~/Views/Partials/Common/Comments.cshtml");}
    </article>
}
