@inherits UmbracoTemplatePage<NewsItem>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
    //var newsOverviewTitle = Model.Content.Ancestor<NewsOverview>().Title;
    var title = item.GetTitle();
}

@section RightSidebar
{
    @{Html.RenderPartial("~/Views/Partials/Common/Calendar.cshtml");}
}

@section Body
{
    <div class="content-wrapper">
        <header class="content-title">
            <h3>@title</h3>
        </header>
        @{ Html.RenderPartial("/Views/Partials/News/NewsItemInfo.cshtml", item);}
        @{ Html.RenderPartial("/Views/Partials/News/NewsItemTags.cshtml", item);}
        <div class="grid-content">
            @Html.GetGridHtml(item, NewsItem.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </div>
        @{Html.RenderPartial("~/Views/Partials/Common/Comments.cshtml");}
    </div>
}