@inherits UmbracoTemplatePage<NewsOverview>
@{
    Layout = "ContentBase.cshtml";
    var containerId = "news-list";
    var overlayId = "loading-overlay";
}

@section RightSidebar
{
    @{Html.RenderPartial("~/Views/Partials/Common/Calendar.cshtml");}
}

@section Body
{
    <section id="@containerId" class="news-overview-container"></section>
    <div id="@overlayId" class="loading-overlay"></div>

    <script type="text/javascript">
        $(function () {
            InitNewsRouting(
                '@containerId',
                '@overlayId',
                @Consts.NewsConfig.YearAllInt,
                @Consts.NewsConfig.ItemsPerPageOnOverviewPage);
        });
    </script>
}