@inherits UmbracoTemplatePage<NewsItem>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;
    var newsOverviewTitle = Model.Content.Ancestor<NewsOverview>().Title;

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(item.Title)
        ? item.Name
        : item.Title;
}

@section Header
{
    @newsOverviewTitle
}

@section LeftSidebar
{
    @{Html.RenderPartial("NewsLeftSidebar");}
}

@*@section RightSidebar
    {
        @{Html.RenderPartial("Calendar");}
    }*@

@section Body
{
    <div class="content-wrapper">
        <header class="content-title">
            <h3>@pageTitle</h3>
        </header>
        @{ Html.RenderPartial("/Views/Partials/NewsItemInfo.cshtml", item);}
        @{ Html.RenderPartial("/Views/Partials/NewsItemTags.cshtml", item);}
        <div class="grid-content">
            @Html.GetGridHtml(item, NewsItem.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </div>
        @{Html.RenderPartial("Comments");}
        @Html.Action("GetRelatedNews", "News", new { item.Id})
    </div>
}