@inherits UmbracoTemplatePage<NewsOverview>
@{
    Layout = "ContentBase.cshtml";
}

@section RightSidebar
{
    @{Html.RenderPartial("~/Views/Partials/Common/Calendar.cshtml");}
}

@section Body
{
    <article id="news-list" class="news-overview"></article>
    <div id="loading-overlay"></div>

    <script type="text/javascript">
        $(function () {
            InitNewsRouting(@Consts.NewsConfig.YearAllInt, @Consts.NewsConfig.ItemsPerPageOnOverviewPage);
        });
    </script>
}