@inherits UmbracoTemplatePage
@{
    Layout = "ContentBase.cshtml";
}
@section Header
{
    @CurrentPage.Title
}
@section LeftSidebar
{
    @{Html.RenderPartial("NewsLeftSidebar");}
}

@section RightSidebar
{
    @*@{Html.RenderPartial("Calendar");}*@
}

@section Body
{
    <div id="news-list" class="news-list"></div>
    <div id="loading-overlay"></div>
}