@inherits UmbracoTemplatePage<TextPage>
@{
    Layout = "ContentBase.cshtml";

    var item = Model.Content;

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(item.Title)
        ? item.Name
        : item.Title;
}

@section Header
{
    @pageTitle
}

@section Body
{
    <div class="content-wrapper">
        <div class="grid-content">
            @Html.GetGridHtml(item, TextPage.GetModelPropertyType(i => i.Content).PropertyTypeAlias, "Custom")
        </div>
    </div>
}