@inherits UmbracoViewPage<GalleryResult>
@{
    var items = Model.Items;
}

<div class="row">
    @foreach (var item in items)
    {
        <div class="col-sm-8">
            @{Html.RenderPartial("~/Views/Partials/Gallery/GalleryListItem.cshtml", item);}
        </div>
    }
</div>
@{
    var dict = new ViewDataDictionary
    {
        { "DataAttr", "data-gallery-link" },
        { "RoutingObj", "galleryRouting" }
    };
    Html.RenderPartial("~/Views/Partials/Common/ArticlesPager.cshtml", Model, dict);
}