@inherits UmbracoTemplatePage
@{
    var homePage = Model.Content.AncestorOrSelf(1);
}

<footer class="footer-wrapper">
    <div class="container">
        <div class="footer-inner">
            <div class="">
                @{Html.RenderPartial("Logo");}
            </div>
            <nav class="footer-nav hidden-xs">
                <ul>
                    @{
                        var dict = new ViewDataDictionary(ViewData) { { "menuItem", homePage } };
                        Html.RenderPartial("TopNavigationList", dict);
                    }
                </ul>
            </nav>
            <div class="footer-contacts">
                @{Html.RenderPartial("Social");}
            </div>
        </div>
    </div>
</footer>
