@inherits UmbracoTemplatePage
@{
}

<header class="header-wrapper">
    <div class="container">
        @{Html.RenderPartial("TopNavigation");}
        @{Html.RenderPartial("HeaderShortInfo");}
    </div>
</header>