@inherits UmbracoTemplatePage
@{
    var joinOrganizationLink = Umbraco.NiceUrl(
        Model.Content.GetPropertyValue<int>(Consts.SiteDocType.JoinOrganizationLinkProperty, true));
    var joinOrganizationText = Model.Content.GetPropertyValue<string>(Consts.SiteDocType.JoinOrganizationTextProperty, true);
    var spadshchynaDescription = Model.Content.GetPropertyValue<string>(Consts.SiteDocType.SpadshchynaDescriptionProperty, true);

}

<div class="header-short-info">
    <div class="">
        @{Html.RenderPartial("Logo");}
    </div>
    <div class="spadshchyna-description hidden-xs hidden-sm">
        <span>@spadshchynaDescription</span>
    </div>
    <div class="join-organization-container">
        <a class="btn btn-default" href="@joinOrganizationLink" role="button">
            @joinOrganizationText
        </a>
    </div>
</div>