@inherits UmbracoTemplatePage
@{
    var site = Model.Content.AncestorOrSelf<Site>();
    var joinOrganizationLink = Umbraco.NiceUrl(((int?)site.JoinOrganizationLink).GetValueOrDefault());
    var joinOrganizationText = site.JoinOrganizationText;
    var spadshchynaDescription = site.SpadshchynaDescription;
}

<div class="header-short-info">
    <div class="">
        @{Html.RenderPartial("Logo");}
    </div>
    <div class="spadshchyna-description hidden-xs hidden-sm">
        <span>@spadshchynaDescription</span>
    </div>
    <div class="join-organization-container">
        <a class="btn btn-default" href="@joinOrganizationLink" role="button">
            @joinOrganizationText
        </a>
    </div>
</div>