@inherits UmbracoTemplatePage
@{
    var joinOrganizationLink = Umbraco.NiceUrl(
        Model.Content.GetPropertyValue<int>(Consts.SiteDocType.JoinOrganizationLinkProperty, true));
    var spadshchynaDescription = Model.Content.GetPropertyValue<string>(Consts.SiteDocType.SpadshchynaDescriptionProperty, true);
}

<div class="header-short-info">
    <div class="pull-left">
        @{Html.RenderPartial("Logo");}
    </div>
    <div class="pull-right join-organization-container">
        <a class="btn btn-default" href="@joinOrganizationLink" role="button">
            Вступити в організацію
        </a>
    </div>
    <div class="spadshchyna-description hidden-xs hidden-sm">
        <span>@spadshchynaDescription</span>
    </div>
</div>