@inherits UmbracoTemplatePage
@{
    var carouselImagesData = ViewData["carouselImages"];
    var carouselImages = carouselImagesData.IfNotNull(
        d => ((IEnumerable<dynamic>)d).ToList(),
        new List<dynamic>());
    var id = Utils.GenerateId("carouselItems");
}

@if (carouselImages.Count > 0)
{
    <div id="@id" class="carousel-wrapper pagination-carousel">
        <div class="owl-carousel-prev not-mobile"></div>
        <div class="owl-carousel">
            @foreach (var image in carouselImages)
            {
                <img class="lazyOwl" data-src="@image.Url" />
            }
        </div>
        <div class="owl-carousel-next not-mobile"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            InitImagesCarousel('@id');
        });
    </script>
}
