@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<!-- Nav -->
<nav class="navbar navbar-default">
    <div class="navbar-header text-center">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-left">
            @*@CommonHelpers.SimpleMenuItem(homePage, CurrentPage)*@
            @{
                var dict = new ViewDataDictionary(ViewData) { { "menuItem", homePage } };
                Html.RenderPartial("TopNavigationList", dict);
            }
        </ul>
        <form class="navbar-form search-form navbar-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Шукати...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
        <div class="header-contacts text-right">
            @{Html.RenderPartial("Social");}
        </div>
    </div>
</nav>
<!-- /Nav -->