@inherits UmbracoTemplatePage
@{
    var items = ((IPublishedContent)ViewData["menuItem"])
        .Children<INavigationComponent>()
        .Where(i => !i.UmbracoNaviHide);
}

@foreach (var item in items)
{
    var itemTitle = item.Name;
    if (item is ITitleComponent)
    {
        var title = ((ITitleComponent)item).Title;
        itemTitle = !string.IsNullOrEmpty(title) ? title : itemTitle;
    }

    var children = item.Children<INavigationComponent>()
        .Where(i => !i.UmbracoNaviHide);
    if (children.Any())
    {
        <li class="dropdown @(CurrentPage.Id == item.Id ? "active" : null)">
            <a href="@item.Url">
                @*class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"*@
                @itemTitle
            </a>
            <!--Show second level-->
            <ul class="dropdown-menu" role="menu">
                @{
                    var dict = new ViewDataDictionary(ViewData);
                    dict["menuItem"] = item;
                    Html.RenderPartial("TopNavigationList", dict);
                }
            </ul>
        </li>
    }
    else
    {
        @CommonHelpers.SimpleMenuItem(item, CurrentPage)
    }
}