.usky-grid textarea.textstring.orange {
    background-color: #e25900;
}

.usky-grid textarea.textstring.orange-light {
    background-color: #fe8435;
}

.usky-grid textarea.textstring.ochre {
    background-color: #ef9f05;
}

.usky-grid textarea.textstring.yellow {
    background-color: #efb005;
}