<?xml version="1.0" encoding="utf-8"?>

<smtp deliveryMethod="network" from="oum.lviv@gmail.com">
  <!--<network host="smtp.gmail.com" port="587" userName="oum.lviv@gmail.com" password="cgflobyf"
      defaultCredentials="false" enableSsl="true"/>-->
  <network host="smtp.gmail.com" port="587" userName="oum.test.lviv@gmail.com" password="oum-test"
      defaultCredentials="false" enableSsl="true"/>
</smtp>