@inherits UmbracoTemplatePage
<div id="events-calendar" class="events-calendar-container">
</div>
<script type="text/javascript">
    $(function () {
        $('#events-calendar').datepicker($.datepicker.regional["uk"]);
    });
</script>