@inherits UmbracoTemplatePage
<div class="events-calendar">
</div>
<script type="text/javascript">
    $(function () {
        $('.events-calendar').datepicker($.datepicker.regional["uk"]);
    });
</script>