@inherits UmbracoTemplatePage
@{
    var news = ContentManager.GetLatestNews(6);
}
<div class="latest-news-container">
    <header class="title">
        <h4>@Localization.LatestNews</h4>
    </header>
    @foreach (var item in news)
    {
        <a href="@item.Url" class="item">
            @item.GetTitle()
        </a>
    }
</div>