@inherits UmbracoTemplatePage
@{
    var id = "loading-spinner";
}
<div id="@id" class="loading-spinner"></div>
<script type="text/javascript">
    $(function () {
        InitLoadingSpinner("#@id");
    });
</script>