@inherits UmbracoViewPage<List<Tuple<int, string>>>
@{
    var years = Model;
    var dataAttr = (string)ViewData["DataAttr"];
    var routingObj = (string)ViewData["RoutingObj"];
}
<div class="years-list">
    <select id="years-list" class="selectpicker years-list-inner" @dataAttr data-width="100%">
        @foreach (var year in years)
        {
            <option data-year="@year.Item1">@year.Item2</option>
        }
    </select>
</div>

<script type="text/javascript">
    $(function () {
        InitYearsList('@dataAttr', @routingObj);
    });
</script>
